@import "globals";

/* section */

@media screen and (min-width: 992px) {
  .section-center {
    width: 95vw;
  }
}

@media screen and (min-width: 400px) {
  .section-center {
    width: 95vw;
  }
}

@media (min-width: 760px) {
  .title,
  .nav-link {
    display: flex;
  }
  .title {
    flex-direction: column;
    align-items: center;
    .title {
      width: 80%;
      margin: 0 auto;
      max-width: 1150px;
    }
  }
}

@media (min-width: 1025px) {
  .title {
    flex-direction: row;
    justify-content: space-between;
  }
}

main {
  min-height: 100vh;
  display: grid;
  place-items: center;
  justify-content: center;
}
.nav-links {
  position: relative;
  margin-top: 0;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  a {
    padding: 10px 15px;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    display: block;
    color: var(--clr-primary-5);
    font-size: .99em;
  }
  a:hover {
    color: seagreen;
  }
}

ul {
  list-style: none;
}

.title {
  margin-bottom: 2em;
  font-size: 1.45em;
  padding-top: .1em;
  padding-bottom: .1em;
  border: 1px solid #a2a2a2;
  background-color: #f4f4f4;
  -webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 10px;
}

.title a {
  padding: 10px 15px;
  text-transform: uppercase;
  text-align: center;
  display: block;
  text-decoration: none;
}

.container .box {
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  position: relative;
  background: #fff7ff;
  padding: 20px 40px 40px 20px;
  text-align: center;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: var(--dark-shadow);
  transition: var(--transition);
  padding: 1rem;
}

/***** BUTTON *****/

.button {
  text-align: center;
  margin-top: 10px;
 }

.h4 {
  align-items: center;
  font-weight: bold;
  overflow: scroll;
  text-align: center;
  border: solid;
  margin-top: 5px;
  padding-bottom: 10px;
  border-radius: 10px;
}

#display-result-1 {
  padding-top: 5%;
  text-align: center;
  align-items: center;
  font-size: 25px;
}

#percent {
  padding: 5px;
  font-size: medium;
  text-align: center;
  align-items: center;
}

#cgpa {
  padding: 5px;
  font-size: medium;
  text-align: center;
  align-items: center;
}

input {
  outline: none;
  border-style: solid;
  border-radius: 10px;
}

.input {
  border: none;
  margin-top: 20px;
  margin-bottom: 5px;
}
